{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 160,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}

